.product_page {
  max-width: 1000px; /* Set a max width for the page */
  margin: 0 auto; /* Center the page */
  padding: 20px; /* Add some padding */
}
.product_title{
  color :#45a049;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the product list */

  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #dfdfa0;
    color:#ffffff;
    font-size: 18px;
  }

  
  .product-item img {
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }

  .product-item button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin: 10px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .product-item button:hover {
    background-color: #45a049; /* Darker green on hover */
  }